body {
    font-family: Palatino, Georgia, Lucida Bright, Book Antiqua, serif;
    font-size: 14px;
    color: #F0F0F0;
    background: #151515;
    line-height: 1.5em;
    margin-top: calc(10% + 80px);
}

h1 { 
    font-size: 4em; 
    font-weight: 500;
}
h2 { 
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 500;
}

article {
    max-width: 300px;
    max-width: 35ch;

    margin: auto;
    text-align: center;
    padding: 0 2ch 1em;
    font-size: 1.1em;
}

.roboto  { font-family: 'Roboto', sans-serif }
.monoton { font-family: 'Monoton', cursive; }

.floaty {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 5;

    padding: 0;
    margin: 0;

    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);

    -webkit-transition: -webkit-transform 4s steps(19), color 3s linear;
            transition: transform 4s steps(19), color 3s linear;

    color: red;
}

#shadow {
    z-index: 3;
}

a {
    text-decoration: none;
    color: #FFCF0F;
    padding: 1px;
    background-color: #1d1d1d;
    transition: color,background-color ease 0.2s;
}

a:hover {
    background-color: #FFCF0F;
    color: #1D1D1D;
}

::-moz-selection {
    color: magenta;
    background: black;
}

::selection {
    color: magenta; 
    background: black;
}